#container
  .row
    .span7.pull-right
      %h1 Регистрация   
      = simple_form_for @user do |f|
        = f.input :name, label: false, placeholder: '*Имя',input_html:{class: 'input-block-level'}
        = f.input :surname, label: false, placeholder: '*Фамилия',input_html:{class: 'input-block-level'}
        = f.input :email, label: false, placeholder: '*Email',input_html:{class: 'input-block-level'}
        = f.input :country, label: 'Страна',input_html:{class: 'input-block-level'}
        = f.input :sity, label: false, placeholder: '*Город',input_html:{class: 'input-block-level'}
        = f.input :date, label: 'Дата рождения', start_year: Date.today.year - 90, |
        end_year: Date.today.year - 12                                           |
        = f.input :password, label: false, placeholder: '*Пароль',input_html:{class: 'input-block-level'}
        = f.input :password_confirmation, label: false, placeholder: '*Пароль еще раз', |
        input_html:{class: 'input-block-level'}                                       |
        = f.submit 'Присоединиться', class: 'btn btn-block btn-large btn-success'      
           
    .span7.pull-left.right_block
      = image_tag('socseti.png', alt:'social', class:'logo')       
      %h1 DESTINY
      %p Универсальное средство общения и поиска знакомых. Здесь можно посмотреть на людей, показать себя, поделиться мыслями, узнать что нового у старых друзей и поискать друзей новых.
      %div.spisok
        %ul
          %li
            %i.icon-ok
            Доброжелательная атмосфера для таких же людей
          %li
            %i.icon-ok
            Быстрая и простая регистрация            
          %li
            %i.icon-ok
            Сделано с душой и от чистого сердца            
          %li
            %i.icon-ok
            Мы за здоровье человека и общества

     