<% content_for :head do %>
    <%= stylesheet_link_tag 'profile' %>
<% end %>
<div class="row wrapp_profile">			
		<div class="span5 left_block">
      <p class="user_mind">Я хочу сказать, что...</p>  
			<ul class="thumbnails">         
	    		<li class="span4">
            <div id="user-photo">
              <%= link_to current_user.image_url(:gallery), class: 'fancybox' do %>   
  	    			  <%= image_tag current_user.image_url(:avatar), class: "avatar" %>
              <% end %>
            </div>
	    			<p class="info_about">
	    			<strong>
	    				<%= current_user.name %> 
	    				<%= current_user.surname %>
	    			</strong>
	    			<br>
	    			<strong>Страна:</strong> <%= current_user.country %><br>
	    			<strong>Город:</strong> <%= current_user.sity %><br>
	    			<strong>День Рождения:</strong> <br> <%= current_user.date %></p>   
	    		</li>    
			</ul>			
          <div>
                <ul class="nav nav-list">
                	<li>
                		<%= link_to '#' do %>
                			<i class="icon-home"></i>
                			Моя страница
                		<% end %>
                	</li>
                	<li>
                		<%= link_to "#" do %>
                			<i class="icon-user"></i>
                			Мои друзья
                			<span class="badge badge-info">+5</span>
                		<% end %>
                	</li>
				          <li>
                		<%= link_to "#" do %>
                			<i class="icon-envelope"></i>
                			Мои сообщения
                			<span class="badge badge-info">+3</span>
                		<% end %>
                	</li>
				          <li>
                		<%= link_to "#" do %>
                			<i class="icon-picture"></i>
                			Мои фотографии		                			
                		<% end %>
                	</li>						   
			    </ul>
          </div><!--/.well -->

          

          <div>
          	<div class="nav-header">Мои друзья</div>
          	<ul class="thumbnails">
          		<li>
          			<%= link_to current_user.image_url, class: 'fancybox' do %>   
                 <img src="http://placehold.it/50x50">
                <% end %>          			
          		</li>
          		<li>
          			<img src="http://placehold.it/50x50">
          			
          		</li>
          		<li>
          			<img src="http://placehold.it/50x50">
          			
          		</li>
          		<li>
          			<img src="http://placehold.it/50x50">
          			
          		</li>
          		<li>
          			<img src="http://placehold.it/50x50">
          			
          		</li>
          		<li>
          			<img src="http://placehold.it/50x50">
          			
          		</li>
          		<li>
          			<img src="http://placehold.it/50x50">
          			
          		</li>
          		<li>
          			<img src="http://placehold.it/50x50">
          			
          		</li>
          		<li>
          			<img src="http://placehold.it/50x50">
          			
          		</li>
          	</ul>
          </div>	
    	</div><!--/span-->			

  	<div class="span7" style="position: relative;">
      <%= render 'microposts/form' %>
      <output id="list"></output>
    </div>      
    <div class="span7">	
     	<div class="post">
     		<ul>    		
     			 <% if current_user.microposts.any? %>    
              <%= render 'microposts/micropost' %>    
           <% end %>
     		</ul>
     	</div>	         	
	</div>
</div>
