<% content_for :head do %>
    <%= stylesheet_link_tag 'profile' %>
<% end %>
<div class="row wrapp_profile">			
		<div class="span5 left_block">
      <p class="user_mind">Я хочу сказать, что...</p>  
			<ul class="thumbnails">         
	    		<li class="span4">
            <div id="user-photo">
              <%= link_to @people.image_url(:gallery), class: 'fancybox' do %>   
  	    			  <%= image_tag @people.image_url(:avatar), class: "avatar" %>
              <% end %>
            </div>
	    			<p class="info_about">
	    			<strong>
	    				<%= @people.name %> 
	    				<%= @people.surname %>
	    			</strong>
	    			<br>
	    			<strong>Страна:</strong> <%= @people.country %><br>
	    			<strong>Город:</strong> <%= @people.sity %><br>
	    			<strong>День Рождения:</strong> <br> <%= @people.date %></p>   
	    		</li>    
			</ul>			
          <div>
                <ul class="nav nav-list">
                	<li>
                		<%= link_to '#' do %>
                			<i class="icon-home"></i>
                			Моя страница
                		<% end %>
                	</li>
                	<li>
                		<%= link_to "#" do %>
                			<i class="icon-user"></i>
                			Мои друзья
                			<span class="badge badge-info">+5</span>
                		<% end %>
                	</li>
				          <li>
                		<%= link_to "#" do %>
                			<i class="icon-envelope"></i>
                			Мои сообщения
                			<span class="badge badge-info">+3</span>
                		<% end %>
                	</li>
				          <li>
                		<%= link_to "#" do %>
                			<i class="icon-picture"></i>
                			Мои фотографии		                			
                		<% end %>
                	</li>						   
			    </ul>
          </div><!--/.well -->       

          <div>          	
            <% if @friends.any? %>
              <div>            
                <div class="nav-header" style="margin-left: -32px;">Друзья (<%=@friends.count%>)</div>
                  <ul class="thumbnails">
                    <% @friends.each do |friend| %>
                      <li>
                        <%= link_to people_path(friend) do %>   
                          <%= image_tag friend.image_url(:profile), class: "friends_img" %>
                        <% end %>                                 
                      </li>
                    <% end %>           
                  </ul>
                </div>
            <% end %>
          </div>	
    	</div><!--/span-->			

  	<div class="span7" style="position: relative;">
      <div class="wrapper" style="padding: 5px 0px 5px 5px;">
        <div class="row">
           <li style="margin-left:20px; list-style:none">
            <%= render 'microposts/form', user: @people %>
           </li>       
        </div>
      </div>
      <output id="list"></output>
    </div>      
    <div class="span7">	
     	<div class="post">
     		<ul class="head">    		
     			 <% if @people.microposts.any? %>    
              <%= render 'microposts/micropost', user: @people %>    
           <% end %>
     		</ul>
     	</div>	         	
	</div>
</div>
