<div id="container">
		<div class="row">			
				<div class="span4 offset2">
					<ul class="thumbnails">
			    		<li class="span4">   
			    			<img src="http://placehold.it/250x300">   
			    		</li>    
	    			</ul>			
		          <div class="well well-small">
		                <ul class="nav nav-list">
		                	<li>
		                		<%= link_to user_path do %>
		                			<i class="icon-home"></i>
		                			Моя страница
		                		<% end %>
		                	</li>
		                	<li>
		                		<%= link_to "#" do %>
		                			<i class="icon-user"></i>
		                			Мои друзья
		                			<span class="badge badge-info">+5</span>
		                		<% end %>
		                	</li>
						   <li>
		                		<%= link_to "#" do %>
		                			<i class="icon-envelope"></i>
		                			Мои сообщения
		                			<span class="badge badge-info">+3</span>
		                		<% end %>
		                	</li>
						    <li>
		                		<%= link_to "#" do %>
		                			<i class="icon-picture"></i>
		                			Мои фотографии		                			
		                		<% end %>
		                	</li>						   
					    </ul>
		          </div><!--/.well -->

		          <div class="well well-small friends">
		          	<div class="nav-header">Друзья онлайн</div>
		          	<ul class="thumbnails">
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          	</ul>
		          </div>	

		          <div class="well well-small friends">
		          	<div class="nav-header">Мои друзья</div>
		          	<ul class="thumbnails">
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          		<li>
		          			<img src="http://placehold.it/50x50">
		          			
		          		</li>
		          	</ul>
		          </div>	
	        	</div><!--/span-->			
		
			<div class="span9">
				<div class="hero-unit">
		          <h6 class='name'><%= @user.name %> <%= @user.surname %></h6>
		          <h6 class='status'>Online</h6>
		          <div style="clear:both"></div> 
	         	</div>
	         	 <div class="line">
	         	 	<p>Я хочу сказать, что...</p>
	         	 </div>
	         	 <div class="info_user">
	         	 	<div class="row">
		         	 	<div class="span3">
		         	 		<p>Дата Рождения:</p>
		         	 		<p>Страна:</p>
		         	 		<p>Город:</p>	
		         	 	</div>
		         	 	<div class="span3">
		         	 		<p><%= @user.date %></p>
		         	 		<p><%= @user.country %></p>
		         	 		<p><%= @user.sity %></p>	
		         	 	</div>
	         	 	</div>
	         	 </div>
	         	<div class="hero-unit">
		          <h6 class='name'>(10)фотографии</h6>
		          <h6 class='status'>добавить</h6>
		          <div style="clear:both"></div> 
	         	</div>
	         	<div class="hero-unit">	
	         		<div class="photos">        		
				        <img src="http://placehold.it/120x130">
				        <img src="http://placehold.it/120x130">
				        <img src="http://placehold.it/120x130">
			        	<img src="http://placehold.it/120x130">
			        	<img src="http://placehold.it/120x130">
		        	</div> 
	         	</div>	         	
	         	<textarea rows="1" placeholder="Что нового?"></textarea>
	         	<button class="btn btn-mini pull-right" type="button">Отправить</button>
	         	<div class="post">
	         		<ul>
	         			<li>
							<div class="row">
								<div class="span2">
	         						<img src="http://placehold.it/50x50">
	         					</div>
	         					<div class="span5">
	         						<div class="row">
	         							<p class="username">User Name</p>	
	         						</div>
	         						<div class="row">
	         							<p>Message</p>	
	         						</div>
	         						<div class="row">
	         							<p style="color:#ccc">13.05.2013 в 17.55</p>	
	         						</div>
	         					</div>	
	         				</div>	         				
	         			</li>
	         			<li>
							<div class="row">
								<div class="span2">
	         						<img src="http://placehold.it/50x50">
	         					</div>
	         					<div class="span5">
	         						<div class="row">
	         							<p class="username">User Name</p>	
	         						</div>
	         						<div class="row">
	         							<p>Message</p>	
	         						</div>
	         						<div class="row">
	         							<p style="color:#ccc">13.05.2013 в 17.55</p>	
	         						</div>
	         					</div>	
	         				</div> 
	         			</li>	
	         			<li>
							<div class="row">
								<div class="span2">
	         						<img src="http://placehold.it/50x50">
	         					</div>
	         					<div class="span5">
	         						<div class="row">
	         							<p class="username">User Name</p>	
	         						</div>
	         						<div class="row">
	         							<p>Message</p>	
	         						</div>
	         						<div class="row">
	         							<p style="color:#ccc">13.05.2013 в 17.55</p>	
	         						</div>
	         					</div>	
	         				</div> 
	         			</li>	
	         			<li>
							<div class="row">
								<div class="span2">
	         						<img src="http://placehold.it/50x50">
	         					</div>
	         					<div class="span5">
	         						<div class="row">
	         							<p class="username">User Name</p>	
	         						</div>
	         						<div class="row">
	         							<p>Message</p>	
	         						</div>
	         						<div class="row">
	         							<p style="color:#ccc">13.05.2013 в 17.55</p>	
	         						</div>
	         					</div>	
	         				</div> 
	         			</li>		
	         		</ul>
	         	</div>	         	
			</div>
		</div>
	</div>