<%= simple_form_for Micropost.new, remote: true do |f| %>
  <%= f.input :content, as: :text, input_html:{id: 'status_message_fake_text', rows: 2,
   placeholder: "Начать беседу...", tabindex: 1, cols: 40, style:'width:495px'} %>
  <%= f.button :button, "Отправить", class: 'btn btn-mini pull-right btnarea', remote: true %>
<% end %>


<%= simple_form_for Imagepost.new, class: 'new_imagepost', 
                                    :html => {:multipart => true, remote: true} do |f| %>  
<div class="image_upload_comment">
	<i class="icon-camera">	
      <div class="fileupload-buttonbar">
        <span class="btn.fileinput-button.button-avatar">           
          <%= f.input :image, as: :file, label: false, input_html:{multiple: true, 
                                                        class: 'imagepost_image_form'} %>
          <%= f.input :remember_token, as: :hidden,  input_html:{value: current_user.remember_token} %>
        </span>  
      </div>    
	</i>
</div>
<% end %>						
