<% micropost = current_user.microposts.first %>
<li class="post-<%=micropost.id%> lastposts">
	<div class="row">
		<div class="span2">
			<%= image_tag current_user.image_url(:profile), class: "avatar_small" %>
		</div>
			<div class="span5">
				<div class="row">
					<p class="username">
						<%= current_user.name %> <%= current_user.surname %> -
						<span class="dateuser"><%= time_ago_in_words micropost.created_at %> назад.
							 (<%= micropost.created_at.strftime("%d/%m/%y в %H:%M") %>).
						</span>
					</p>         						
					<p class="message"><%=micropost.content %></p>
					<% imageposts = Imagepost.where({micropost_id: micropost.id}) %>
					<% unless imageposts.last == nil %>
						<% imageposts.each_with_index do |imagepost, i| %>
							<% if i==0 %>								
								<p style="float:left;margin:1px;">
									<%= link_to imagepost.image_url(:upload), class: 'fancybox',
																				rel:"gallery" do %>		
			    			  				<%= image_tag imagepost.image_url(:gallery), class: 'shadow' %>	
		           					 <% end %>
								</p>
							<% else %>
								<p style="float:left;margin:1px;">
									<%= link_to imagepost.image_url(:upload), class: 'fancybox',
																				rel:"gallery" do %>	
											<%= image_tag imagepost.image_url(:small), class: 'shadow' %>	
		           					 <% end %>
								</p>
							<% end %>
						<% end %>	
					<% end %>
					<p class="date_like date-like-<%=micropost.id%>">
						<%if @current_user.present?%>					
							<%= content_tag(:span, toggle_like_button(micropost, @current_user), 
													class: "like_button-#{micropost.id}") %>
							<% if !micropost.flaggings.empty? %>						
								<a href="#myModal-<%=micropost.id%>" role="button" 
								data-toggle="modal">Кому?</a>
							<% end %>						
    						<i class="icon-heart"></i> 
					    <%end%>
					    <%= content_tag(:span, micropost.flaggings.count, 
					    							class: "like-#{micropost.id}") %>
					</p>											
					<div class="people-<%=micropost.id%>">
							<%= render 'microposts/likepeople', micropost: micropost %>
						</div> 												
				</div>
			</div>	
	</div>
    <div class="close">
    	<%= link_to "x", micropost, method: :delete, remote: true%>
    </div>           	         				
</li>

